Source: mafw-upnp-source
Section: misc
Priority: optional
Maintainer: Ivaylo Dimitrov <ivo.g.dimitrov.75@gmail.com>
Build-Depends: debhelper (>= 9.0.0),
	       libglib2.0-dev, uuid-dev, libxml2-dev, libgssdp-1.0-dev,
	       libgupnp-1.0-dev,
	       libgupnp-av-1.0-dev,
	       libmafw0-dev, checkmore,
	       maemo-system-services-dev
Standards-Version: 3.7.2

Package: mafw-upnp-source
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MAFW UPnP source plugin
 Source plugin for MAFW UPnP.

