#!/usr/bin/make -f

#export DH_VERBOSE=1

CFLAGS += $(if $(findstring thumb,$(DEB_BUILD_OPTIONS)),-mthumb,)

CFG_OPTS += $(if $(filter debug,$(DEB_BUILD_OPTIONS)),--enable-debug,--disable-debug)
CFG_OPTS += $(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),--disable-tests,--enable-tests)
CFG_OPTS += $(if $(filter lcov,$(DEB_BUILD_OPTIONS)),--enable-coverage)

%:
	dh $@ --with autoreconf

 override_dh_autoreconf:
	dh_autoreconf "NOCONFIGURE=1 ./autogen.sh"

override_dh_auto_configure:
	dh_auto_configure -- --prefix=/usr $(CFG_OPTS) CFLAGS="$(CFLAGS)"

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp
	dh_installxsession -u 'post 35'

